<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Nástěnka</title>
    {# TODO: change favicon    #}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Lexend:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Icons -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.svg') }}">


    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users-overview.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group-setting.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-profile.css') }}" type="text/css">
</head>

<body>
<!-- Include navigation -->
{% include '__nav.jinja' %}

<!-- Flash messages -->
<main>
    <!-- Render main content -->
    {% block content %}
    {% endblock %}
</main>

<!-- Include footer -->
{% include '__footer.jinja' %}
</body>
</html>
